<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>测试计划报告生成</title>
  <link rel="stylesheet" href="../lib/bootstrap.min.css">
  <script type="text/javascript" src="../js/template.js"></script>
  <script type="text/javascript" src="../js/2-plan/2-plan.js"></script>
  <script type="text/javascript" src="../js/2-plan/reader.js"></script>

  <style>
    .container {
      width: 70%;
      text-align: left;
      margin: 0 auto;
    }

    input,
    textarea,
    table {
      margin: 7px auto;
      width: 100%;
    }

    .submitBtn {
      width: 150px;
      height: 70px;
      font-size: 18px;
    }
  </style>
</head>

<body>
  <center>
    <h3>测试计划报告生成</h3>
    <a href="../index.html">返回首页</a>
  </center>
  <div class="container">

    <h4>产品名称：</h4>
    <input id="projectNameText" type="text">
    <br />
    <h4>项目承担部门：</h4>
    <input id="projectTeamText" type="text">
    <br />
    <h4>撰写人：</h4>
    <input id="writerText" type="text">
    <br />
    <h4>完成日期：</h4>
    <input id="completionDateText" type="text">
    <br />
    <h4>测试简介：</h4>
    <textarea id="testIntroductionTextarea" rows="7"></textarea>
    <br />
    <h4>资源和工具：</h4>
    <textarea id="resourcesAndToolsTextarea" rows="7"></textarea>
    <br />
    <br />
    <hr>
    <h4>测试进度计划：</h4>
    <table border="1" id="planTable">
      <thead>
        <tr>
          <th>
            任务号
          </th>
          <th>
            解释
          </th>
          <th>
            工时（人日）
          </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <button onclick="insertRow4Table('planTable')">十</button> <button onclick="deleteRow4Table('planTable')">一</button>
    <br />
    <br />
    <hr>
    <h4>测试提交物：</h4>
    <div id="testSubmissionDiv" style='display:inline'></div>
    <button onclick="insertRow4List('testSubmissionDiv')">十</button> <button onclick="deleteRow4List('testSubmissionDiv')">一</button>
    <br />
    <br />
    <hr>
    <h4>进入标准：</h4>
    <div id="entryStandardsDiv" style='display:inline'></div>
    <button onclick="insertRow4List('entryStandardsDiv')">十</button> <button onclick="deleteRow4List('entryStandardsDiv')">一</button>
    <br />
    <br />
    <hr>
    <h4>退出标准：</h4>
    <div id="exitStandardsDiv" style='display:inline'></div>
    <button onclick="insertRow4List('exitStandardsDiv')">十</button> <button onclick="deleteRow4List('exitStandardsDiv')">一</button>
    <br />
    <br />
    <hr>
    <h4>质量风险摘要表：</h4>
    <table border="1" id="riskTable">
      <thead>
        <tr>
          <th>
            风险编号
          </th>
          <th>
            故障模式
          </th>
          <th>
            故障效果
          </th>
          <th>
            优先级
          </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <button onclick="insertRow4Table('riskTable')">十</button> <button onclick="deleteRow4Table('riskTable')">一</button>
    <br />
    <br />
    <hr>
    <h4>测试重点：</h4>
    <div id="testFocusDiv">
    </div>
    <button onclick="createTestFocus('testFocusDiv')">新增</button>
    <br><br>
    <br />
    <hr>
    <h4>测试用例生成方法：</h4>
    <b>等价类划分</b>
    <textarea id="classDivisionTextarea" rows="4"></textarea>
    <div id="classDivisionDiv"></div>
    <button onclick="createGenerationMethod('classDivisionDiv')">新增</button>
    <br />
    <br />
    <b>其他</b>
    <textarea id="otherDivisionMethodTextarea" rows="4"></textarea>
    <br />
    <br />
    <hr>
    <h4>参考文档：</h4>
    <div id="referenceDiv" style='display:inline'></div>
    <button onclick="insertRow4List('referenceDiv')">十</button> <button onclick="deleteRow4List('referenceDiv')">一</button>
    <br />
    <br />
    <hr>

    <div style="text-align: right;"><button class="submitBtn" onclick="generateReport()">提交</button></div>
  </div>

  <div style="margin: 30px;"></div>
</body>

</html>