<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>测试需求报告生成</title>
  <link rel="stylesheet" href="../lib/bootstrap.min.css">


  <style>
    .container {
      width: 70%;
      text-align: left;
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <center>
    <h3>测试脚本生成</h3>
    <a href="../index.html">返回首页</a>
  </center>

  <div class="container">
    <p>项目名称：</p>
    <input type="text">
    <p>前置代码：</p>
    <textarea name="" id="" cols="90" rows="5"></textarea>
    <p>请导入代码文件以自动分析...</p>
    <input type="file" name="" id="">

    <p>测试用例：</p>

    <div>
      <p>用例名：</p>
      <input type="text">
      <p>用例详情：</p>
      <table border="1">
        <thead>
          <th>类型</th>
          <th>被测函数</th>
          <th>参数</th>
          <th>期待结果</th>

        </thead>
      </table>

    </div>

    <div>
      <p>
        常用用例工具箱
      </p>
    </div>




  </div>
</body>

</html>